# ignore these folders:
__pycache__
/**/backups/*
/**/cert/*
/**/code/*
/**/conf/*
/**/data/*
/**/logs/*

# ignore these files:
.DS_Store

# --------------------
# include these folders:
!/**/cert
# include these files:
!.gitkeep
