# include folders:
!/serv/cert

# ignored folders:
__pycache__
/logs/*
/serv/**/backups/*
/serv/**/cert/*
/serv/**/code/*
/serv/**/conf/*
/serv/**/data/*
/serv/**/logs/*
/temp/*

# --------------------
# include files:
!.gitkeep

# ignore files:
.DS_Store
/host/**/.env-secrets.local
