# include folders:
!/**/cert

# ignored folders:
__pycache__
/**/backups/*
/**/cert/*
/**/code/*
/**/conf/*
/**/data/*
/**/logs/*

# --------------------
# include files:
!.gitkeep

# ignore files:
.DS_Store
