# Reverse Proxy
# --------------------
# https://caddyserver.com/docs/caddyfile

# Not published to the host,
# only reachable by other containers on the "caddy" network (e.g. caddy-ui-backend).
{
    admin 0.0.0.0:2019
    log {
        output file /var/log/caddy/access.log
    }
}

# Services
# --------------------
http://authentik.host-testing:7000 {
    reverse_proxy host.docker.internal:5000
}

http://authentik-https.host-testing:7000 {
    reverse_proxy https://host.docker.internal:5001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://beszel.host-testing:7000 {
    reverse_proxy host.docker.internal:6000
}

http://bugsink.host-testing:7000 {
    reverse_proxy host.docker.internal:6001
}

http://coolify.host-testing:7000 {
    reverse_proxy host.docker.internal:7004
}

http://gatus.host-testing:7000 {
    reverse_proxy host.docker.internal:11000
}

http://grafana.host-testing:7000 {
    reverse_proxy host.docker.internal:11001
}

http://infisical.host-testing:7000 {
    reverse_proxy host.docker.internal:13000
}

http://mailpit.host-testing:7000 {
    reverse_proxy host.docker.internal:17000
}

http://open-project.host-testing:7000 {
    reverse_proxy host.docker.internal:19000
}

http://outline.host-testing:7000 {
    reverse_proxy host.docker.internal:19002
}

http://outline-https.host-testing:7000 {
    reverse_proxy https://host.docker.internal:19003 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://passbolt.host-testing:7000 {
    reverse_proxy host.docker.internal:20000
}

http://passbolt-https.host-testing:7000 {
    reverse_proxy https://host.docker.internal:20001 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

http://umami.host-testing:7000 {
    reverse_proxy host.docker.internal:25000
}

http://webcheck.host-testing:7000 {
    reverse_proxy host.docker.internal:27000
}

http://woodpecker.host-testing:7000 {
    reverse_proxy host.docker.internal:27001
}

