# folders included:
!data
!data/attachments
!data/images
!data/images/avatars
!data/images/background

# folders ignored:
data/attachments/*
data/images/avatars/*
data/images/background/*

# --------------------
# files included:
!.gitkeep

# files ignored:
