# ignore these folders:
data/authentik/media/*
data/authentik/templates/*

# ignore these files:

# --------------------
# include these folders:
!data
!data/authentik
!data/authentik/media
!data/authentik/templates

# include these files:
!.gitkeep
